.gallery__img {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.gallery__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}
/* mobile */
@media only screen and (max-width: 600px) {
  .gallery {
    display: none;
  }

  .gallery--mobile {
    position: relative;
  }

  .gallery_hidden {
    display: none;
    position: absolute;
  }

  .gallery_click {
    color: white;
  }

  #gal_clicked:checked + .gallery__frame {
    opacity: 1;
    transition: all 0.5s;
  }

  #gal_clicked + .gallery__frame {
    opacity: 0;
    transition: all 0.5s;
  }

  .gallery__frame {
    color: snow;
    stroke-width: 3px;
    stroke: black;
    text-align: center;
  }

  .gallery__title--mobile {
    position: absolute;
    top: 20%;
    width: 100%;
  }

  .gallery__description--mobile {
    position: absolute;
    top: 35%;
    width: 100%;
  }

  .gallery__overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  }

  .gallery_control {
    max-width: 10%;
    position: absolute;
    top: 35%;
    z-index: 1;
  }
  #prev_image {
    left: 0;
  }
  #next_image {
    right: 0;
  }
}

/* desktop */
@media only screen and (min-width: 601px) {
  .gallery--mobile {
    display: none;
  }
  .gallery__overlay:hover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
  }
  .gallery {
    background-color: slategrey;
    width: 100%;
  }

  .gallery__row {
    display: flex;
  }

  .gallery__col {
    padding: 7px;
    position: relative;
  }

  .gallery__col--first_col {
    flex: 100%;
  }
  .gallery__col--second_col {
    flex: 50%;
  }
  .gallery__col--third_col {
    flex: 33.33%;
  }

  .gallery__title {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    font-size: 2em;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.5s;
    color: snow;
  }

  .gallery__description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.6s;
    color: snow;
  }
  .gallery__col:hover .gallery__description {
    bottom: 30%;
    opacity: 1;
  }

  .gallery__col:hover .gallery__title {
    bottom: 50%;
    opacity: 1;
  }
}



/* .gallery--mobile {
  display: none;
}
.gallery {
  display: none;
} */