@import url("https://v1.fontapi.ir/css/Nazanin");

body {
  font-family: Nazanin;
  text-align: right;
}

.navbar {
  height: 10vh;
  background-color: rgba(77, 226, 97, 0.993);
  box-shadow: 0 3px 10px gray;
  transition: background-color 1s, color 1.2s;
}
.navbar #logo-container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar a img {
  height: 8vh;
}
.navbar.dark-mode {
  background-color: rgba(22, 46, 9, 0.993) !important;
  box-shadow: 0 -3px 10px black;
}
.navbar.dark-mode #buttons-container .navbar-link {
  color: white;
}
@media screen and (max-width: 600px) {
  .navbar.dark-mode #buttons-container button {
    color: white !important;
    background-color: transparent !important;
    border-color: white !important;
  }
}
.navbar.dark-mode a {
  color: white;
}
.navbar > * {
  transition: background-color 1s, color 1.2s;
}

#buttons-container {
  position: absolute;
  width: 90%;
  right: 10%;
  display: inline-flex;
  justify-content: flex-start;
  height: 6vh;
}
@media screen and (max-width: 600px) {
  #buttons-container {
    box-shadow: 0 -3px 10px gray;
    position: fixed;
    right: 0;
    width: 100%;
    background-color: rgba(77, 226, 97, 0.993);
    bottom: 0;
    place-content: space-between;
    z-index: 5;
    height: 8vh;
  }
  #buttons-container.dark-mode {
    color: white !important;
    background-color: rgba(22, 46, 9, 0.993) !important;
    box-shadow: 0 3px 10px black;
  }
}
#buttons-container > button {
  width: 6%;
  margin: 0 20px;
  height: 100%;
  align-self: center;
  background-color: inherit;
  border: none;
  font-size: 1.3rem;
  transition: all 2s;
}
@media screen and (max-width: 600px) {
  #buttons-container > button {
    width: 25%;
    margin: inherit;
    border-radius: 0px;
  }
}

body * {
  transition: background-color 0.5s;
}
